<p id="notice"><%= notice %></p>

<!--<p>
  <strong>Id:</strong>
  <%= @artist.id %>
</p>
-->

<p>
  <strong><%= @artist.name %></strong>

</p>

<p>
  <!-- Artist image at original size -->
  <img class="cover" src=<%= @artist.avatar %>>
</p>

<p>
  <strong>Last update:</strong>
  <%= @artist.last_update %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
